
body {
  font-family: 'Playfair Display', serif;
}

a:hover{
  color: #D3D3D3;
}
h2 h3 h4 h5 h6{
  color: #262626;
}

.main h1{
  color: white;
  text-align: center;
  margin-top: 0%;
}
.main__article{
  text-align: center;
}
