
body {
  font-family: $primary-font;
}
a:hover{
  color: $lightgrey;
}

.main h1{
  color: white;
  text-align: center;
  margin-top: 0%;
  font-size: 3rem;
}

h2{
  font-size: 1.5rem;
  font-family: $primary-font;
  text-align: center;
}

.section--art{
  background: $white;
}
.main__article{
  text-align: center;
  font-family: $secondary-font;
}

.article--architecture{
  font-family: $secondary-font;
}

.article--art{
  font-family: $secondary-font;

}
.article--landscape{
    font-family: $secondary-font;

}

.aside__unorderedlist{
  text-align: right;
  padding: 2%;
}

.aside__unorderedlist__item{
list-style-type: none;
}
